//Variable declarations/////////////////////////
$colourOne: rgb(40, 90, 132);
$colourTwo: rgb(133, 200, 114);
$colourThree: rgb(194, 239, 126);
$colourFour: rgb(238, 247, 242);
$colourFive: #fff;

//General//////////////////////////////////////
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    font-size: 20px;
}

//Header///////////////////////////////////////
header{
    background-color: $colourOne;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

#logo-container{
    padding: 5px;
}

header nav{
    flex:1;
}

header nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.recent-work:hover{
    color: $colourTwo;
}

header nav ul li a{
    color: $colourFive;
    text-decoration: none;
}

.button-accent-1{
    padding: 5px 10px;
    border: white 3px solid;
    background-color: $colourOne;
    color: $colourFive;
    font-weight: bold;
    border-radius: 20px;
    transition-property: background-color color;
    transition-duration: 600ms;
    &:hover{
        background-color: $colourFive;
        color: $colourOne;
    }
}

//what-i-do section////////////////////////////////
#what-i-do{
    //border: red 3px solid;
    overflow: hidden;
    div{
        h1{
            font-family: 'Ubuntu', sans-serif;
            padding-top: 50px;
        }
    }
}

#what-i-do div, #intro div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    max-height: 700px; //Interacts with height of #desk-graphic
    width: 90%;
    margin: auto;
    h1, p{
        margin-top: 30px;
    }
}

#avatar{
    border-radius: 100px;
    transition: box-shadow 700ms ease;
    margin-top: 30px;
    margin-bottom: 30px;
    &:hover{
        box-shadow: 3px 0px 10px $colourTwo, 
            -3px 0px 10px $colourTwo, 
            0px 3px 10px $colourTwo, 
            0px -3px 10px $colourTwo;
    }
}

#desk-graphic{
    overflow: hidden;
    height: 250px;
    //background: red;
    position: relative;
    // margin-top: 30px;
    .fa-coffee{
        color: $colourTwo;
        position: absolute;
        bottom: 0px;
        right: 10%;
    }
    .fa-desktop{
        color: $colourTwo;
        position: absolute;
        bottom: 0px;
        left: 10%;
    }
    .fa-laptop{
        color: $colourTwo;
        position: absolute;
        bottom: 0px;
        left: 50%;
        // display: none;
        // display: block;
    }
}

@media screen and (max-width:700px) {
    #desk-graphic{
        //background: yellow;
    }
    #laptop{
        display: none;
    }
  }

//#intro section/////////////////////////////

#intro{
    background-color: $colourOne;
    padding: 50px 5% 150px 5%;
    color: $colourFive;
    line-height: 1.5em;
    div{
        h1{
            font-family: 'Ubuntu', sans-serif;
        }
    }
}

//Skills section///////////////////////////
#skills{
    position: relative;
    // width: 100%;
    // margin: auto;
}

#skills-container{
    
    width: 90%;
    margin: auto;
    // border: grey 2px solid;
    // border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    top: -75px;
} //When the elements below are nested in here, the media query doesn't work correctly

.skill-card{
    background: $colourFive;
    width: 32%;
    padding: 10px 5% 20px 5%;
    box-sizing: border-box;
    border: $colourTwo 2px solid;
    // margin: auto;
}

.skill-card i{
    padding-top: 20px;
    color: $colourTwo;
}

.skill-card h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    padding-top: 20px;
}

.skill-card h2.subtitle{
    color: $colourTwo;
    font-size: 1em;
}

.skill-card p{
    padding-top: 10px;
}

.skill-card p.text, .skill-card ul li{
    font-size: 0.8em;
    line-height: 1.25em;
}

.skill-card ul{
    list-style: none;
    padding-top: 5px;
}
#skill-card-1{
    border-radius: 20px 0px 0px 20px;
}
#skill-card-2{
    border-left: none;
    border-right: none;
}
#skill-card-3{
    border-radius: 0px 20px 20px 0px;
}


@media screen and (max-width:900px) {
    #skills-container{
        // display: block;
        flex-direction: column;
    }

    #skill-card-1, #skill-card-2, #skill-card-3{
        min-width: 100%; //Doesn't work when this is width: 100%; - must be min-width
        // border: grey 2px solid;
        //background-color: yellow;
        // width: 80vw;
        // margin: auto;
        // display: block;
        // display: flex;
        // flex-direction: column;
    }
    #skill-card-1{
        // border: grey 2px solid;
        border-radius: 20px 20px 0px 0px;
    }
    #skill-card-2{
        border-left: $colourTwo 2px solid;
        border-right: $colourTwo 2px solid;
        border-top: none;
        border-bottom: none;
    }
    #skill-card-3{
        //border: grey 2px solid;
        border-radius: 0px 0px 20px 20px;
    }
}

//Footer//////////////////////////////////////////////////////
footer{
    display: flex;
    justify-content: space-around;
    background: $colourTwo;
    padding-top: 20px;
    padding-bottom: 20px;

}

footer ul{
    margin-top: 10px;
}

footer ul, footer ul a{
    list-style: none;
    text-decoration: none;
    font-family: arial;
    color: $colourOne; //li inherits is font color from here
}

footer ul li a{
    line-height: 1.25em;
    &:hover{
        color: $colourFive;
    }
}

footer ul li{
    line-height: 1.25em;
}


footer ul li a i p{
    font-family: arial;
    display: inline;
    margin-left: 10px;
}




@media screen and (max-width:700px) {
    //This query is active when the screen width is below 700 px
    footer{
        //background: yellow;
        display: block;
        padding-left: 30px;
    }

  }







